name: Check version

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - ".github/workflows/**"
      - "renovate.json"

permissions:
  contents: write

jobs:
  check_version:
    runs-on: ubuntu-latest

    outputs:
      version_updated: ${{ steps.decide_bump.outputs.version_updated }}
      new_version: ${{ steps.decide_bump.outputs.new_version }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - name: Fetch main branch and tags
        run: git fetch origin main:main --tags

      - name: Get versions
        id: get_versions
        run: |
          MAIN_VERSION=$(jq -r .version <(git show main:package.json))
          BRANCH_VERSION=$(jq -r .version package.json)
          echo "MAIN_VERSION=$MAIN_VERSION" >> $GITHUB_ENV
          echo "BRANCH_VERSION=$BRANCH_VERSION" >> $GITHUB_ENV

      - name: Calculate next patch version
        id: next_version
        run: |
          IFS='.' read -r maj min pat <<< "$MAIN_VERSION"
          NEXT_PATCH=$((pat + 1))
          NEXT_VERSION="${maj}.${min}.${NEXT_PATCH}"
          echo "NEXT_VERSION=$NEXT_VERSION" >> $GITHUB_ENV

      - name: Check if next version tag exists
        id: check_tag
        run: |
          if git rev-parse "v$NEXT_VERSION" >/dev/null 2>&1; then
            echo "tag_exists=true" >> $GITHUB_ENV
          else
            echo "tag_exists=false" >> $GITHUB_ENV
          fi

      - name: Decide if bump needed
        id: decide_bump
        run: |
          if [ "$BRANCH_VERSION" = "$MAIN_VERSION" ] && [ "$tag_exists" != "true" ]; then
            echo "version_updated=true" >> $GITHUB_ENV
            echo "new_version=$NEXT_VERSION" >> $GITHUB_ENV
          else
            echo "version_updated=false" >> $GITHUB_ENV
          fi

      - name: Bump patch version
        if: env.version_updated == 'true'
        run: |
          git config --global user.name "SamNewhouse"
          git config --global user.email "hello@samnewhouse.co.uk"
          NEW_VERSION=${{ env.new_version }}
          npm version "$NEW_VERSION" -m "v%s"
          git tag "v$NEW_VERSION"
          git push origin HEAD:${GITHUB_HEAD_REF} --tags
        env:
          GITHUB_HEAD_REF: ${{ github.head_ref }}

      - name: Success
        run: echo "Version check completed."

      - name: Failure
        if: failure()
        run: echo "Version check failed."
