name: Check version

on:
  pull_request:
    types: [synchronize, opened, reopened]
    paths-ignore:
      - ".github/workflows/**"
      - "renovate.json"

permissions:
  contents: write

jobs:
  check_version:
    runs-on: ubuntu-latest

    outputs:
      version_updated: ${{ steps.bump.outputs.version_updated }}
      new_version: ${{ steps.bump.outputs.new_version }}

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - id: bump
        run: |
          git config --global user.name "SamNewhouse"
          git config --global user.email "hello@samnewhouse.co.uk"

          MAIN_VERSION=$(jq -r .version <(git show origin/main:package.json))
          BRANCH_VERSION=$(jq -r .version package.json)

          echo "Main version: $MAIN_VERSION"
          echo "Branch version: $BRANCH_VERSION"

          if [ "$BRANCH_VERSION" = "$MAIN_VERSION" ]; then
            echo "Bumping patch version..."
            NEW_VERSION=$(npm version patch -m "Changed version to %s" | tr -d 'v')
            git push origin HEAD:${GITHUB_HEAD_REF}
            echo "version_updated=true" >> $GITHUB_ENV
            echo "new_version=$NEW_VERSION" >> $GITHUB_ENV
            echo "::set-output name=version_updated::true"
            echo "::set-output name=new_version::$NEW_VERSION"
          else
            echo "Skipping version bump (PR version differs from main)."
            echo "version_updated=false" >> $GITHUB_ENV
            echo "::set-output name=version_updated::false"
          fi
        env:
          GITHUB_HEAD_REF: ${{ github.head_ref }}

      - name: Success
        run: echo "Version check completed."

      - name: Failure
        if: failure()
        run: echo "Version check failed."
