name: Check version

on:
  pull_request:
    types: [synchronize, opened, reopened]
    paths-ignore:
      - ".github/workflows/**"
      - "renovate.json"

permissions:
  contents: write

jobs:
  check_version:
    runs-on: ubuntu-latest

    outputs:
      version_updated: ${{ steps.bump.outputs.version_updated }}
      new_version: ${{ steps.bump.outputs.new_version }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - id: bump
        run: |
          git config --global user.name "SamNewhouse"
          git config --global user.email "hello@samnewhouse.co.uk"

          git fetch origin main:main

          MAIN_VERSION=$(jq -r .version <(git show main:package.json))
          BRANCH_VERSION=$(jq -r .version package.json)

          echo "Main version: $MAIN_VERSION"
          echo "Branch version: $BRANCH_VERSION"

          parse_version() {
            IFS='.' read -r maj min patch <<< "$1"
            printf "%03d%03d%03d\n" "$maj" "$min" "$patch"
          }

          MAIN_NUM=$(parse_version "$MAIN_VERSION")
          BRANCH_NUM=$(parse_version "$BRANCH_VERSION")

          if [ "$BRANCH_NUM" -gt "$MAIN_NUM" ]; then
            echo "PR version is already ahead of main. Skipping bump."
            echo "version_updated=false" >> $GITHUB_ENV
          elif [ "$BRANCH_NUM" -eq "$MAIN_NUM" ]; then
            echo "Versions equal. Bumping patch..."
            NEW_VERSION=$(npm version patch -m "Changed version to %s" | tr -d 'v')
            git push origin HEAD:${GITHUB_HEAD_REF}
            echo "version_updated=true" >> $GITHUB_ENV
            echo "new_version=$NEW_VERSION" >> $GITHUB_ENV
          else
            echo "PR version behind main. Skipping bump."
            echo "version_updated=false" >> $GITHUB_ENV
          fi
        env:
          GITHUB_HEAD_REF: ${{ github.head_ref }}

      - name: Success
        run: echo "Version check completed."

      - name: Failure
        if: failure()
        run: echo "Version check failed."
