name: Check version

on:
  pull_request:
    types: [synchronize, opened, reopened]
    paths-ignore:
      - ".github/workflows/**"
      - "renovate.json"

permissions:
  contents: write

jobs:
  check_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - id: bump_version_if_needed
        run: |
          set -e
          git fetch origin main
          main_version=$(jq -r .version <(git show origin/main:package.json))
          branch_version=$(jq -r .version package.json)

          if [ "$(printf '%s\n' "$main_version" "$branch_version" | sort -V | head -n1)" = "$main_version" ] && [ "$branch_version" != "$main_version" ]; then
            echo "No version bump needed."
            echo "version_updated=false" >> $GITHUB_ENV
            exit 0
          fi

          if [ "$branch_version" = "$main_version" ]; then
            IFS='.' read -r major minor patch <<< "$branch_version"
            patch=$((patch + 1))
            new_version="$major.$minor.$patch"
            jq --arg new_version "$new_version" '.version = $new_version' package.json > package.json.tmp && mv package.json.tmp package.json
            echo "version_updated=true" >> $GITHUB_ENV
            echo "new_version=$new_version" >> $GITHUB_ENV
            exit 0
          fi

          echo "Warning: PR version ($branch_version) is behind main ($main_version)."
          echo "version_updated=false" >> $GITHUB_ENV
          exit 0

      - name: Update package-lock if needed
        if: env.version_updated == 'true'
        run: npm install

      - name: Commit version bump
        if: env.version_updated == 'true'
        run: |
          git config --global user.name "SamNewhouse"
          git config --global user.email "hello@samnewhouse.co.uk"
          git add package.json package-lock.json
          git commit -m "Changed version to ${{ env.new_version }}"
          git remote set-url origin https://x-access-token:${GH_TOKEN}@github.com/SamNewhouse/create-stb.git
          git pull --rebase origin ${{ github.head_ref }}
          git push origin HEAD:${{ github.head_ref }}
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Success
        run: echo "Version check and update workflow completed successfully."

      - name: Failure
        if: failure()
        run: echo "Version check and update workflow failed."
