name: Check version

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - ".github/workflows/**"
      - "renovate.json"

permissions:
  contents: write

jobs:
  check_version:
    runs-on: ubuntu-latest

    outputs:
      version_updated: ${{ steps.decide_bump.outputs.version_updated }}
      new_version: ${{ steps.decide_bump.outputs.new_version }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"

      - name: Fetch main branch
        run: git fetch origin main:main

      - name: Get versions
        id: get_versions
        run: |
          MAIN_VERSION=$(jq -r .version <(git show main:package.json))
          BRANCH_VERSION=$(jq -r .version package.json)
          echo "MAIN_VERSION=$MAIN_VERSION" >> $GITHUB_ENV
          echo "BRANCH_VERSION=$BRANCH_VERSION" >> $GITHUB_ENV
          echo "Main version: $MAIN_VERSION"
          echo "Branch version: $BRANCH_VERSION"

      - name: Decide if bump needed
        id: decide_bump
        run: |
          parse_version() {
            IFS='.' read -r maj min patch <<< "$1"
            printf "%03d%03d%03d\n" "$maj" "$min" "$patch"
          }

          MAIN_NUM=$(parse_version "$MAIN_VERSION")
          BRANCH_NUM=$(parse_version "$BRANCH_VERSION")

          if [ "$BRANCH_NUM" -gt "$MAIN_NUM" ]; then
            echo "PR version is ahead of main. Skipping bump."
            echo "version_updated=false" >> $GITHUB_ENV
          elif [ "$BRANCH_NUM" -eq "$MAIN_NUM" ]; then
            echo "Versions equal. Will bump patch."
            echo "version_updated=true" >> $GITHUB_ENV
          else
            echo "PR version behind main. Skipping bump."
            echo "version_updated=false" >> $GITHUB_ENV
          fi

      - name: Bump patch version
        if: env.version_updated == 'true'
        run: |
          git config --global user.name "SamNewhouse"
          git config --global user.email "hello@samnewhouse.co.uk"
          NEW_VERSION=$(npm version patch -m "Changed version to %s" | tr -d 'v')
          echo "new_version=$NEW_VERSION" >> $GITHUB_ENV
          git push origin HEAD:${GITHUB_HEAD_REF}
        env:
          GITHUB_HEAD_REF: ${{ github.head_ref }}

      - name: Success
        run: echo "Version check completed."

      - name: Failure
        if: failure()
        run: echo "Version check failed."
